<div class="container">
	<div class="row" style="align-items: center;">
		<div class="col-md-3 col-xs-3">
			<div 
			class="form-group" 
			[ngClass]="f.letter.invalid ? 'has-success' : 'has-danger'" [formGroup]="character_">
				<label for="InputCharacter">Character</label>
				<input 
					type="text" 
					class="form-control"  
					[ngClass]="f.letter.invalid ? 'is-invalid' : ''" id="InputCharacter" 
					placeholder="Enter 1 character" 
					formControlName="letter"
					(change)="onAddCharacter()">
				<div *ngIf="f.letter.invalid" class="text-center text-warning">
					Sorry, enter only 1 character.
				</div>
			</div>
		</div>
		<div class="col-md-5 col-xs-5 blockquote time-center">
			<p class="text-center text-info">{{ generator.newtime }}</p>
		</div>
		<div class="col-md-4 col-xs-4 btn-generate-center">
			<button 
				type="button" 
				class="btn btn-outline-primary" 
				(click)="onGenerate()">
				Generate GRID
			</button>
			<button 
				type="button" 
				class="btn btn-outline-secondary" 
				routerLink="/payments">
					Payments
			</button>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col-1"></th>
				<th scope="col-1" *ngFor="let indx of colum_tb">{{indx}}</th>
			</tr>
		</thead>
		<tbody *ngFor="let s of generator.generate_arr; let i = index;">
			<tr [ngClass]="onClassGrid() ? 'table-dark' : ''">
				<th scope="row">{{i}}</th>
				<td scope="col-1" *ngFor="let indx of colum_tb">
					{{s[indx]}}
				</td>
			</tr>
		</tbody>
	</table>
	
	<footer class="footer">
		<div class="card border-secondary mb-3" style="max-width: 10rem;">
			<div class="card-body text-center">
				<p class="text-uppercase live"><span class="circle"></span> Live</p>
				<p class="card-title text-uppercase">Your code {{ generator.code }}</p>
			</div>
		</div>
	</footer>
</div>